body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #000000;
    text-align: center;
}
body {
    background-color: #ddff1b;
  }
  
  
header {

        background-color: #27405a;
        color: white;
    padding: 35px 20px;
    
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 10px 0;
}
header img {
    size: 10%;
}
.btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

section {
    padding: 40px 20px;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    background: black;
    color: white;
    padding: 20px;
}
